@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@layer components {
  .loginCard {
    @apply borderColor relative z-0 flex flex-col rounded-3xl border-[1px] bg-white p-6 shadow-2xl;
  }

  .loginText {
    @apply text-center text-xl font-bold text-gray-800;
  }

  .borderColor {
    @apply border-purple-300;
  }
}
